<footer class="footer">
  <p>
    ©
    {new Date().getFullYear()}
    Created By
    <a href="https://github.com/ttrejosg" target="_blank"
      ><span class="text-danger">ttrejosg</span></a
    >
  </p>
</footer>

<style>
  .footer {
    background: #010729;
    margin-top: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    align-items: center;
  }

  .footer p {
    margin-bottom: 0;
    margin-left: 7rem;
    color: white;
  }

  .footer a {
    color: rgb(74, 252, 77);
    text-decoration: none;
  }
</style>
