html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #06cf67;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #232121;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #020617;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #edf1f3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

p {
  margin: 0;
  font-size: 1.1rem;
}

.line {
  display: block;
  width: 45px;
  height: 2px;
  background-color: #06cf67;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.title {
  font-size: 2rem;
}

/* Header */

.header {
  position: relative;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../static/header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.social-icons {
  list-style-type: none;
  padding-left: 0;
  justify-content: space-between;
  width: 120px;
  display: flex;
  a {
    color: white;
    transition: 0.3s;
  }
  i {
    transition: 0.3s;
  }
}

.header > ul {
  transform: translateY(-10rem);
}

.social-icons a:hover {
  color: #06cf67;
}

.social-icons i:hover {
  transform: scale(1.2);
}

.header-content {
  width: 80%;
  h1 {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #00bb59;
  }
  h4 {
    font-size: 3rem;
    font-weight: lighter;
    color: white;
  }
  h6 {
    font-size: 1rem;
    letter-spacing: 5px;
    color: #2cc9ff;
  }
}

/* Header Responsive */

@media (max-width: 1000px) {
  .header {
    height: 80vh;
    padding-left: 2rem;
  }

  .header > ul {
    transform: translateY(-5rem);
  }
}

/* Navbar */

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
  height: 1%;
  border-bottom: 1.8px solid #06cf67;
  background: rgba(15, 23, 42, 0.3);
  backdrop-filter: blur(10px);
}

.navbar ul {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  margin: 0;
}

.navbar a {
  color: #edf1f3;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  transition: all 2s;
  position: relative;
}

.nav-item a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.8px;
  border-radius: 5px;
  bottom: -4px;
  background: #06cf67;
  transform: scaleX(0);
  transition: 0.6s ease;
}

.nav-item a:hover::before {
  transform: scaleX(1);
}

.nav-item a:target {
  background-color: #06cf67;
}

.brand-title {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
  margin-top: 0;
  text-align: center;
}

.brand-subtitle {
  font-size: 13px;
  color: #888;
  text-align: center;
}

/* Navbar Responsive */

@media (max-width: 1000px) {
  .navbar ul {
    gap: 2rem;
    flex-direction: column;
  }
}

/* Main */

.main {
  margin: 0 20%;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

@media (max-width: 1000px) {
  .main {
    margin: 0 10%;
  }
}

/* About */

.about {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
}

.about-container {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  p {
    margin-bottom: 0.8rem;
  }
  span {
    color: rgb(77, 210, 255);
    font-weight: 700;
  }
}

.p-info {
  padding-left: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.p-info li {
  display: flex;
  align-items: center;
  gap: 0.9rem;
  font-size: 1.1rem;
  border-right: 3px solid #06cf67;
  padding-right: 1rem;
  margin-bottom: 0;
  div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.p-info i {
  color: #31f790;
}

.p-info li span {
  font-weight: bold;
  color: #31f790;
}

/* About Responsive */

@media (max-width: 1000px) {
  .p-info {
    flex-direction: column;
    li {
      border-right: none;
      padding-right: 0;
      font-size: 1.08rem;
    }
  }
}

/* List Sections */

.list-container {
  padding-top: 1rem;
}

.list-container ul {
  position: relative;
  border-left: 1px solid #06cf67;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-container ul li {
  margin-left: 1.8rem;
  margin-bottom: 1.8rem;
  svg {
    position: absolute;
    color: #06cf67;
    left: -1rem;
    border-radius: 100%;
    background: rgb(29, 46, 86);
    padding: 0.2rem;
    box-shadow: 0 0 0 0.5rem #020617;
  }
  h3 {
    font-size: 1.3rem;
    margin-bottom: 0.2rem;
    span {
      color: rgb(44, 201, 255);
    }
  }
  time {
    font-size: 0.9rem;
    color: #7cfdb8;
  }
  p {
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}

.technologies-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 3rem;
}

.technologies-container article {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #06cf67;
  background: rgb(2, 6, 23);
  background: linear-gradient(
    0deg,
    rgba(2, 6, 23, 1) 0%,
    rgba(2, 3, 13, 1) 100%
  );
  h4 {
    margin-top: 2rem;
    font-size: 2rem;
    color: #31f790;
    text-align: center;
  }
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
  }
  ul li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

@media (max-width: 1000px) {
  .technologies-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Projects */

.projects-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.title-project {
  display: flex;
  justify-content: space-between;
  h4 {
    font-size: 2rem;
  }
  a {
    color: white;
    text-decoration: none;
    background: black;
    border-radius: 15px;
    transition: 0.3s;
    font-size: 1.6rem;
    padding: 0 0.3rem;
  }
  div {
    display: flex;
    gap: 0.5rem;
  }
}

.info-project {
  display: flex;
  margin: 0.5rem 0;
  justify-content: space-between;
  align-items: center;
  time {
    font-size: 0.8rem;
    color: #7cfdb8;
  }
  svg {
    transition: 0.3s;
  }
}

.technologies-stack {
  display: flex;
  gap: 1rem;
}

.title-project a:hover,
.info-project svg:hover {
  scale: 1.1;
}

.project-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.project-card {
  background-color: rgb(15 23 42);
  border-radius: 25px;
  padding: 0.5rem;
  color: white;
  overflow: hidden;
  p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 300;
    margin-bottom: 0.5rem;
    span {
      color: rgb(77, 210, 255);
      font-weight: 700;
    }
  }
  ul {
    padding-left: 1rem;
    font-size: 1rem;
  }
  figure {
    border-radius: 20px;
    overflow: hidden;
    margin: 0;
    display: flex;
  }
  img {
    width: 100%;
    transition: 0.4s;
  }
}

.project-card:hover img {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.btn-images {
  display: flex;
  gap: 1rem;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 5px;
  border: none;
  padding: 0.3rem;
  width: 9rem;
  background: #06cf67;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.btn-images:hover {
  background: #09723d;
}

/* Projects Responsive */

@media (max-width: 1250px) {
  .projects-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .title-project,
  .info-project {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
  }
}

/*Popup*/
.popup {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 80%;
  height: 80vh;
  border-radius: 20px;
  background: rgba(0, 3, 14, 0.75);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  transition: 1s;
  opacity: 0;
}

.popup.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.popup.active .close-btn,
.popup.active .image-name,
.popup.active .index,
.popup.active .large-image,
.popup.active .arrow-btn {
  opacity: 1;
  transition: 0.5s;
}

.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgb(15 23 42);
  color: #fff;
  text-align: center;
  line-height: 50px;
  border-radius: 20px 20px 0 0;
  i {
    font-size: 1.2rem;
    cursor: pointer;
  }
}

.image-name {
  opacity: 0;
}

.close-btn {
  opacity: 0;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #06cf67;
  cursor: pointer;
}

.close-btn:hover {
  background: #09723d;
}

.arrow-btn {
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 100%;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
  transform: translateY(-50%);
}

.arrow-btn:hover {
  background: #06cf67;
}

.index {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 80px;
  font-weight: 100;
  color: #00bb59;
  opacity: 0;
}

.large-image {
  margin-top: 5%;
  width: 80%;
  height: 80%;
  object-fit: contain;
  opacity: 0;
}

.img-transition {
  transform: scale(0);
}
/*Popup Relative*/

@media (max-width: 600px) {
  .left-arrow {
    top: 10%;
    left: 45%;
    transform: rotate(90deg);
  }

  .right-arrow {
    right: 45%;
    top: 90%;
    transform: rotate(90deg);
  }
}

/* Footer */

.footer {
  background: #010729;
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer p {
  margin-bottom: 0;
  margin-left: 7rem;
  color: white;
}

.footer a {
  color: rgb(74, 252, 77);
  text-decoration: none;
}
